{% extends 'master.html' %}
{% block 'title' %} Home  {% endblock %}
{% block 'content' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
            <img src="{{MEDIA_URL}} {{emp.profile.url}}" class="image">
                <h3>{{form.fullname}}</h3>
            <span><i class="fa fa-map-marker">{{sts.address}}</i></span>
            <br>
            <span class="fa fa-phone"> {{sts.contact_no}}</span><br>
            <span><i class="fas fa-browser"></i>{{sts.website}}</span>
            </div>
        </div>

        <div class="col-md-5">
            <h4>Description</h4>
            <p>{{sts.about}}</p>
        </div>
        </div>
</div>
{% endblock %}